const options = () => {
  return {

    dir: {
        src: "./src",
        dest: "./build",
    },
    passthrough: [
        {
            src: './src/passthrough/*',
            dest: './build/passthrough'
        }
    ],
    server: {
        qrCode: true,
        port: 3030,
        openBrowser: false,
        middleware: []
    },
    nunjucks: {
        customExt: null,
        customFilters: null,
        customTemplates: null,
    },
    sass: {
        customOpt: null,
    },
    postcss: {
        plugins: [],
    },
    cleanHtml: {
        customOpt: null,
    }
    
  };
};

module.exports = options;
