const options = () => {
  return {
    dir: {
        src: "./src",
        dest: "./dist",
    },
    passthrough: [
        {
            src: './src/passthrough/*',
            dest: './dist/passthrough'
        }
    ],
    server: {
        qrCode: true, 
        port: 3030, 
        openBrowser: false, 
        middleware: [] 
    },
    htmlRenderer: 'nunjucks',
    cssRenderer: 'sass',
    nunjucks: {
        customExt: null,
        customFilters: null,
        customGlobals: null,
    },
    handlebars: {
        partialsDir: null,
        helpersDir: null,
    },
    sass: {
        customOpt: null,
    },
    postcss: {
        plugins: [],
    },
    cleanHtml: {
        customOpt: null,
    }
    
  };
};

module.exports = options;
