<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Document</title>

    {% for key, value in css %}
    {% if key !== 'inline' %}

    <!-- {{key}} -->
     
    <style type="text/css">
      {% include "../../build/" + value %}
    </style>
    {% endif %}
    {% endfor %}

    <link rel="stylesheet" href="css/inline.css">

  </head>

  <body>
    {% include "templates/module.njk" %}

    <img src="images/image1.jpg" alt="" width="200">

  </body>

</html>